.mngs-range-selector {
    margin-top: 20px !important;
    border-bottom: 0! important;
}

.mngs-summary-info {
    margin-top: 20px !important;
    border-bottom: 0! important;
}

.mngs-stats-title-details {
    border-bottom: 0! important;
}

.mngs-stats-page-title {
    margin-top: 40px !important;
}
