:root {
    --mngs-disabled-color: rgb(173, 78, 49);
}

.mngs-summary-info li {
    width: calc(100% / 6) !important;
}

.mngs-range-selector {
    position: relative;
    margin-top: 10px !important;
    border-bottom: 0 ! important;
}

.current-month-button {
    position: absolute;
    top: 0;
    right: 0;
}

.mngs-summary-info {
    margin-top: 20px !important;
    border-bottom: 0 ! important;
}

.mngs-stats-title-details {
    border-bottom: 0 ! important;
}

.mngs-stats-page-title {
    margin-top: 20px !important;
}

.mngs-chart-type-icon, .mngs-chart-action-icon, .mngs-donate-type-icon {
    font-size: 24px;
    cursor: pointer;
    padding: 18px 10px 0 10px;
    color: #b1b1b1;
    transition: all 100ms;
}

.mngs-donate-type-icon {
    color: #ba9752;
}

.mngs-chart-type-icon:hover {
    color: #767676 !important;
}

.mngs-chart-type-icon-active {
    color: #141414 !important;
}

.mngs-chart-type-icon-active:hover, .mngs-chart-action-icon:hover {
    color: #141414 !important;
}

.mngs-donate-type-icon:hover {
    filter: brightness(1.2);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: max-content;
    padding: 2px 5px;
    font-size: 13px;
    background-color: #898989;
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: translateY(40px) translateX(20px);
    transition: opacity .5s .5s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
    transition: opacity .5s 2s;
}

.mngs-highlight-button-disabled {
    pointer-events: none;
    color: var(--mngs-disabled-color) !important;
}
